#ddfb-form-builder {
    display: flex;
    width: 100%;
}

#ddfb-toolbox {
    width: 25%;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.ddfb-component {
    padding: 10px;
    margin: 10px 0;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    cursor: pointer;
}

#ddfb-form-area {
    width: 75%;
    padding: 10px;
}

#ddfb-drop-area {
    min-height: 200px;
    padding: 20px;
    border: 2px dashed #ccc;
    background-color: #fafafa;
}

.ddfb-component-item {
    margin-bottom: 10px;
}
